
/*barra de navegacion*/

.barranav {
    display: flex;
    flex-wrap: wrap;
}
.logo1 { 
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 135px;
    margin: auto;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 150px;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 15px;
    margin-top: 50px;
    text-decoration: none;    
    font-size: 15px;
    background-color: white;    
    color: black;
}

/*carrito*/

.carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    padding-top: 10px;
    
}
.title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    margin: auto;
    margin-bottom: 50px;
}

.section-images {
    height: 250px;
    width: 210px;

}

.text {
    display:block;
    height: 100px;
}