

/*barra de navegacion*/


.barranav {
    display: flex;
    flex-wrap: wrap;
}
.logo1 { 
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 135px;
    margin: auto;
}
.barra {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border: solid 1px black;
}

/*carrito*/
.carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    padding-top: 10px;
    
}
.titlecarrito {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: auto;
    margin-bottom: 50px;
    border: solid 1px black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: medium;
}

.section-images {
    height: 250px;
    width: 210px;

}

.text {
    display:block;
    height: 100px;
}


/*Detalle de Producto*/


.prod {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    width: 750px;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;

}
.imagenbolso {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
}
.l {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.info {
    width: 300px;
}
.desc {
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 700px;
    margin: auto;
    margin-bottom: 60px;
    font-size: medium;
}

/*home*/

.agregar{
    background-color: darkgray;
    color: white;
    height: 20px;
}

.Ver{
    background-color: darkgray;
    color: white;
    height: 20px;
}


.categorias{
    border: 2px solid black;
    margin: 10px;
    width: 400px;
    padding: 15px; 
}

.productoshome{
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    margin-top: 30px;
    align-content: center;
}

.fotos{
   height: 300px;
   width: 300px;
}

  
/*registro*/

.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color:darkgray;
}

.bodyregister{
    background-color:darkgray;
}

h2{
    text-align: center;
    padding-top: 30px;
}


body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}


.logo1 { 
    display: block;
    height: 150px;
    width: 172px;
    margin: auto;
}

.logo {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
}

.logo1{
    height: 150px;
    width: 172px;
    align-items: center;
}


/*hombre*/

.flexbox-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hombre1{
    width: 202px;
    border-color: black;
    border-style:solid;
}

.hombre2{
    width: 282px;
    border-color: black;
    border-style:solid;
}

.hombre3 {
    width: 274px;
    border-color: black;
    border-style: solid;
}

.hombre4 {
    width: 282px; 
    border-color: black;
    border-style: solid;

}

.hombre5{
    width: 242px;
    border-color: black;
    border-style:solid;
}

/*login*/


.bodylogin{
    background-color:darkgray;
}

a {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
    background-color: white;
    color: black;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
margin: 200px 600px;
}

.olvidaste{
    align-items: center;
}

HEAD
.barranav {
    display: flex;
    flex-wrap: wrap;
}
.logo1 { 
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 135px;
    margin: auto;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 150px;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 15px;
    margin-top: 50px;
    text-decoration: none;    
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white;    
    color: black;
}

.textologin{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/*Recupero contraseña*/

.he {
    height: 200px;
}
.todorc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    margin: auto;
    height: 300px;
    width: 600px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color:darkgray;
}
.titlerc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size:large;
}
.labrc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: medium;
}

.checkrc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    font-size: small;
}
