/*footer*/
footer {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: smaller;
    text-align: center;
    color: white;
    background-color: gray;

}


/*barra de navegacion*/
.barranav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.logo1 { 
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 135px;
    margin: auto;
}

.barra {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 20px;
    border-bottom: solid 3px gray;
}

/*carrito*/
.carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding: 5%;
    padding-top: 2%;
    background-color: rgb(214, 224, 225);

    
}

.titlecarrito {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: auto;
    margin-bottom: 50px;
    border: solid 1px black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: medium;
    align-items: center;
}

.section-images {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 210px;
}

.text {
    display:block;
    height: 100px;
}
.compcart{
    display: block;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-size: large;
    width: 100%;
    margin: 30%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 2%;
    border: solid 5px green;
    text-align: center;

}
/*Detalle de Producto*/
.prod {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
    background-color: rgb(214, 224, 225);
}

.imagenbolso {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.l {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 15%;
    text-align: center;
    font-size: medium;
    background-color: rgb(214, 224, 225);
    color: gray;
}

.desc {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    margin-bottom: 60px;
    font-size: small;
    background-color: rgb(214, 224, 225);
    color: gray;
}
.agregra{
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
    font-style:normal;
    font-size: medium;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 1%;
    color: white;
    border: solid 2px;
    background-color: gray;
    text-align: center;
}

/*home*/
.agregar{
    background-color: darkgray;
    color: white;
    height: 20px;
}

.Ver{
    background-color: darkgray;
    color: white;
    height: 20px;
}

.categorias{
    border: 2px solid black;
    margin: 10px;
    width: 400px;
    padding: 15px; 
}

.productoshome{
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    margin-top: 30px;
}

.fotos{
   height: 300px;
   width: 300px;
}
 
/*registro*/
.registro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center;
    margin-left: 120px;
    margin-top: 0px;
    background-color:darkgray;
    display: flex;
    flex-direction: column;
}

.tengo{
    justify-content: center;
    background-color: darkgray;
    margin-left: 30px;
}


.bodyregister{
    background-color:darkgray;
}

h2{
    text-align: center;
    padding-top: 30px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}



/*Categoria*/
.flexbox-container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-around;
}

.algo{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.algo2{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.algo3{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.algo4{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hombreh1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

/*login*/
.bodylogin{
    background-color:darkgray;
    height: 100vh; 
}
.mainlog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    align-content: center;
}

a {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
    background-color: white;
    color: black;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.olvidaste{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.olvidaste a{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: transparent;
    font-weight: bold;
}


.textologin{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.notengocuenta{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 2%;
    align-content: center;
    background-color: transparent;
    font-weight: bold;
}

/*Recupero contraseña*/
.he {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.imagenrec {
    width: 17%;
    margin: auto;
}
.mainrc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 400px;
}
.todorc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: small;

}
.titlerc {
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: x-large;
}

.bodyrecover{
    background-color:darkgray;
}



@media  (max-width: 500px) {

    .barranav{
        display: flex;
        flex-wrap: wrap;
        font-size: 20px; 
       margin: auto;
       justify-content: center;
       width: 100%;
    }
    
    .barra {
        padding: 20px;
        font-size: 20px; 
        box-sizing: border-box;
        justify-content: center;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        width: 99%;
    }

    .productoshome {
        align-content: center;
        justify-content: center; 
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal; 
    }

    .categorias{
        font-size: 13px;
    }

    .fotos{
        height: 100px;
        width: 100px;
    }

    .Ver{
        font-size: 10px;
        height: 20px;
        width: 50px;
    }

    .agregar{
        font-size: 10px;
        height: 20px;
        width: 100px;
    }

    .registro{
        font-size: 15px;
    }

    .header{
        font-size: 20px;
    }

    .logo1{
        width: 100px;
        height: 100px;

    }

    .bodyregister{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        margin-right: 100px;
    }


    .tengo{
        margin-right: 30px;
    }

    .f{
        font-size: 15px;
    }

    .formulario{
        align-items: center;
        font-size: smaller;
        font-size: 60%;
        margin: 40%;
        margin-top: 10%;
    }

    .olvidaste{
        margin:auto;

        font-size: 40%;
    }

    .olvidaste a{
        font-size: 12px;
        margin: auto;
    }

    .algo2{
        margin-left: 30%;
    }

    .algo3{
        margin-left: 10%;
    }

    .algo4{
        margin-left: 20%;
    }

    .flexbox-container1 p{
        font-size: 80%;
    }
    .productos {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: column;
        width: 90%;
        height: 20%;
        margin: auto;
        border: solid 1px black;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: medium;
        margin-bottom: 20px;
        justify-content: center;
        padding: 10%;
    }
    .text {
        justify-content: center;
    }
    .section-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 60%;
    }
    .carrito {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .compcart{
        display: block;
        width: 100%;
        margin: 10%;
        box-sizing: border-box;
        margin-top: 2%;
        margin-bottom: 2%;
        border: solid 5px green;
        text-align: center;
    }

    .terminos{
        align-content: center;
    }

    .notengocuenta{
            margin-top: 15%;
            width: 150%;
            font-size: 11px;
    }

  

    .imagenbolso {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .l {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
    .desc {
        width: 80%;
        margin: auto;
        margin-bottom: 60px;
    }
    .imagenrec {
        width: 25%;
    }
    .mainrc {
        height: 300px;
    }
    .mainlog {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    }
}