.logo1 { 
    display: block;
    height: 160px;
    width: 172px;
    margin: auto;
}

.logo {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
}

.logo1{
    height: 150px;
    width: 172px;
    align-items: center;
}

.f{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
}



.sectioncontainer{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
   

.section-images{
    height: 300px;
    width: 300px;
}

.general-container{
    display: flex;
    flex: wrap;
    justify-content: space-around;
    align-items: center; 

}


 .productlist{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    align-items: center;
    font-style: normal;
    padding: 15px;
    /* display: flex;
    flex-wrap: wrap; */
    
}

.hma{
    padding: 20px;
}





/* @media (max-width: 768px) {
    .sectioncontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; 
        height: auto; 
        width: 100%;
    }
}   

@media (max-width: 768px) {
    .general-container {
        display: flex;
        flex: wrap;
        flex-direction: column; 
        align-items: stretch; 
    }
}  */


/*
    @media (min-width: 768px) {

        body{
            background-color: red;
        }

    .general-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
    }
} 


@media (min-width: 1023px) {
 
    body{
        background-color: blue;
    }

    section {
        width: 100vw;
        text-align: center;
        align-items: center;
    }

    .sectioncontainer{
        display: flex;
        flex-direction: column;
        width: 95vw;
        text-align: center;
        align-items: center;
        align-content: center;
        margin: 40px;

    }


    .general-container{
        display: flex;
        flex-direction: column;
    }
} 
*/
