.logo1 { 
    display: block;
    height: 150px;
    width: 172px;
    margin: auto;
}

.logo {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
}

.logo1{
    height: 150px;
    width: 172px;
    align-items: center;
}

.f{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
}



section {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    padding: 20px;
}

.sectioncontainer{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
    width: 400px;
}

.section-images{
    height: 300px;
    width: 300px;
}

.general-container{
    display: flex;
    flex-direction: row;
}