.flexbox-container {
    display: flex;
    flex-wrap: wrap; 
}


.flexbox-item1{
    width: 300px;
    margin-left: 55px;
    margin-right: 19px;
    float: left;
    border-color: black;
    border-style:solid;
}

.flexbox-item2{
    width: 298px;
    float: inline-start;
    margin-left: 19px;
    margin-right: 19px;
    border-color: black;
    border-style:solid;
}

.flexbox-item3{
    width: 300px;
    float: inline-start;
    margin-left: 19px;
    margin-right: 19px;
    border-color: black;
    border-style:solid;

}

.flexbox-item4{
    width: 300px;
    float: inline-start;
    margin-left: 19px;
    margin-right: 19px;
    border-color: black;
    border-style:solid;
}

.bolso1{
    width: 300px;
    margin-top: 40px;
    float: inline-start;
    margin-left: 54px;
    margin-right: 19px;
    border-color: black;
    border-style:solid;
}

.bolso2{
    width: 300px;
    margin-top: 40px;
    float: inline-start;
    margin-left: 19px;
    margin-right: 19px;
    border-color: black;
    border-style:solid;
}

.bolso3 {
    width: 300px;
    margin: 40px 19px ; 
    border-color: black;
    border-style: solid;
}

.bolso4 {
    width: 300px;
    margin-left: 1070px; 
    margin-top: 5px;
    border-color: black;
    border-style: solid;
}