.he {
    height: 200px;
}
.todorc {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 300px;
    width: 500px;
    padding: 30px;
    box-sizing: border-box;
    border: solid 1px black;
}
.titlerc {
    text-align: center;
    align-items: center;
    margin-top: 70px;
}
.labrc {
    display: block;
    text-align: center;
}
.descrc {
    display: block;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    height: 10px;
    width: fit-content;
}
.butrc {
    display: block;
    align-content: center;
    margin: auto;
    margin-top: 30px;
    height: 10px;
    width: fit-content;
}
.checkrc {
    display: block;
    align-content: center;
    margin: auto;
    margin-top: 30px;
    height: 10px;
    width: fit-content;
}