.todo {
    display: block;
    margin-top: 120px;
    margin: auto;
    height: 500px;
    width: 700px;
    border: solid 1px black;
}
.title {
    text-align: center;
    align-items: center;
}
.lab {
    display: block;
    align-content: center;
}
.desc {
    display: block;
    align-content: center;
    margin: auto;
    height: 10px;
    
}