.header {
    display: block;
    height: 70px;
    border: solid 1px;
    margin: 0px;
    padding: 0px;
}
a {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 172px;
    padding-top: 20px;
    border: solid 1px;
    margin: 0px;
}