.logo1 { 
    display: block;
    height: 150px;
    width: 172px;
    margin: auto;
}

.logo {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
}

.logo1{
    height: 160px;
    width: 172px;
    align-items: center;
}

.f{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
}
.carrito {
    display: block;
}
.title {
    margin-top: 30px;
    margin-left: 30px;
    width: fit-content;
}

.prod1 {
    display: block;
    width: 600px;
    margin-top: 40px;
}
.section-images {
    height: 250px;
    width: 210px;

}
.info {
    display:inline-block;
}
.text {
    display:inline-block;
    height: 100px;
    width: fit-content;
    margin-left: 20px;

}