.logo {
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 172px;
    padding-top: 22px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
}

.logo1{
    height: 150px;
    width: 172px;
    align-items: center;
}

.f{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
    
}


