<<<<<<< HEAD

=======
.registro{
    display: flex;
    justify-content: center;
    align-items: center;
}


h2{
    text-align: center;
    padding-top: 200px;
}


body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
>>>>>>> f3c01063172cd8285c1e83e5adf1586c5e1dec5b
